<form  [formGroup]="invoiceForm" (ngSubmit)="onSubmit()" class="">

  <div class="row">
    <fieldset class="form-group col-6 col-md-3">
      <label>Invoice#</label>
        <input [class.is-invalid]="invoiceForm.controls.invoice_number.touched && !invoiceForm.controls.invoice_number.valid" required name="name" formControlName="invoice_number" class="form-control validate ">
        <div class="invalid-feedback">
          Invoice ID is required.
        </div>

    </fieldset>

    <fieldset class="form-group col-6 col-md-3">
      <label>Customer</label>
      <input  ngui-auto-complete
                  [source]="customerData"
                  value-property-name="name"
                  display-property-name="name"
                 (valueChanged)="onChangeCustomer($event)"
                  [value-formatter]="myValueFormatter"
                  [list-formatter]="autocompleCustomer"
                  [select-on-blur]="true"
                  [re-focus-after-select]="false"
                  [open-on-focus]="false"
                  placeholder="Select items"
                  class="form-control">

    </fieldset>
    <input type="hidden" name='customer' formControlName="customer"  class="form-control">






      <fieldset class="form-group col-md-3 col-6">
        <label>Invoice Date</label>
        <div class="input-group datepicker-input">
            <input class="form-control" placeholder="yyyy-mm-dd"
                name="invdate" formControlName="invoice_date" ngbDatepicker #d1="ngbDatepicker">
            <button class="input-group-addon" (click)="d1.toggle()" type="button">
                <!-- <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/> -->
                <span class="fa fa-calendar"></span>
            </button>
        </div>
        <!--  <input required name='sku' [(ngModel)]="invoicesdata.sku" class="form-control" placeholder="****"> -->
      </fieldset>
      <div class="form-group col-md-3 col-6">
        <label>Due Date</label>
        <div class="input-group datepicker-input">
            <input class="form-control" placeholder="yyyy-mm-dd"
                name="dp" formControlName="invoice_due" ngbDatepicker #d2="ngbDatepicker">
            <button class="input-group-addon" (click)="d2.toggle()" type="button">
                <!-- <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/> -->
                <span class="fa fa-calendar"></span>
            </button>
        </div>
      </div>

    </div>

    <div class="row">
      <fieldset class="form-group col-6 col-md-4">
        <label>Sales Person</label>
        <input  ngui-auto-complete
                    [source]="customerData"
                    value-property-name="name"
                    display-property-name="name"
                   (valueChanged)="onChangeSalesPerson($event)"
                    [value-formatter]="myValueFormatter"
                    [list-formatter]="autocompleCustomer"
                    [select-on-blur]="true"
                    [re-focus-after-select]="false"
                    [open-on-focus]="false"
                    placeholder="Select items"
                    class="form-control">

      </fieldset>
      <input type="hidden" name='sales_person' formControlName="sales_person"  class="form-control">
    </div>

  <!--  <lineitems [group]="line_items"></lineitems> -->

    <div class="row">
      <fieldset class="form-group col-md-3 col-4">
        <label>Item Detais</label>
      </fieldset>
      <div class="form-group col-md-3 col-3">
        <label>Quantity</label>
      </div>
      <fieldset class="form-group col-md-3 col-2">
        <label>Rate</label>
      </fieldset>
      <fieldset class="form-group col-md-3 col-3">
        <label>amount</label>
      </fieldset>
    </div>
<div formArrayName="line_items">
    <div  *ngFor="let row of lineItems.controls;  let i = index">
    <div  class="row" [formGroupName]="i">
    <fieldset class="form-group col-md-3 col-4">
      <!-- <md-input ngui-auto-complete
        style="width:100%"
        id="model6"
        [(ngModel)]="myModel"
        [source]="arrayOfNumbers"
        [list-formatter]="rightAligned"
        placeholder="amount" align="end">
        <span md-prefix>$&nbsp;</span>
        <span md-suffix>.00</span>
      </md-input>-->
        <!--   -->
      <input  ngui-auto-complete
                  [source]="continents"
                  formControlName="item_name"
                  name="item_id"
                  value-property-name="sku"
                  value-property-name="item_id"
                  display-property-name="name"
                  (valueChanged)="onChangeItem($event,i,1)"
                  [value-formatter]="myValueFormatter"
                  [list-formatter]="autocompleItems"
                  [select-on-blur]="true"
                  [re-focus-after-select]="false"
                  [open-on-focus]="false"
                  placeholder="Select items"
                  class="form-control">
    <input type="hidden" name='item_name' formControlName="item_name"  class="form-control">
    <input type="hidden" name='item_id' formControlName="item_id"  class="form-control">
  <!--  <input type="hidden" name='tax_rate' formControlName="tax_rate"  class="form-control">
    <input type="hidden" name='tax_type' formControlName="tax_type"  class="form-control"> -->
      <!--  <input required name='sku' [(ngModel)]="row.line_items" class="form-control" placeholder="****">-->
    </fieldset>
    <div class="form-group col-md-3 col-3">
      <input type="text" name='quantity' formControlName="quantity"  class="form-control">
    </div>
    <fieldset class="form-group col-md-3 col-2">
        <input readonly required name='rate' formControlName="rate"  class="form-control-plaintext" placeholder="">
    </fieldset>
    <div class="form-group col-2">
      <input required name='item_total{{i}}' formControlName="item_total" [(ngModel)]="item_total[i]" class="form-control-plaintext" readonly [ngModelOptions]="{standalone: true}" >
    </div>

    <div class="form-group col-1">
      <a href="#" title="Remove Item" class="badge badge-info" (click)="removeLineitems(i)"><i class="fa fa-minus fa-fw"></i></a>
    </div>

  </div>
   </div>
 </div>

 <div class="form-group row">
   <fieldset class="form-group col-md-3 col-5">
    <a (click)="addItemRow()" href="#" class="badge badge-info"><i class="fa fa-plus fa-fw"></i> Add Items</a>
   </fieldset>
    <label for="staticEmail" class="col-md-2 col-3 col-form-label offset-2 offset-md-4 text-right">Sub Total</label>
    <div class="col-md-2 col-2">
       <input name='subtotal' formControlName="subtotal"  class="form-control-plaintext" placeholder="00" readonly>
    </div>
  </div>

 <div class="form-group row">
   <div class="col-md-3 col-4">
     <fieldset class="form-group">
       <label>Invoice status</label>
       <select class="form-control" formControlName="status">
           <option value="pending" [selected]="true" >Pending</option>
           <option value="completed">Completed</option>
       </select>
     </fieldset>
   </div>
   <div class="col-md-3 col-4">
     <fieldset class="form-group">
       <label>Tax</label>
       <select formControlName="tax" class="form-control">
        <option value="0" [selected]="true">Choose an option</option>
        <option *ngFor="let opt of taxRates" [value]="opt.id">{{opt.name}}</option>
      </select>
     </fieldset>
   </div>

    <label class="col-md-2 col-2 col-form-label offset-md-1 text-right" >Tax Amount</label>
    <div class="col-md-2 col-2">
     <input readonly name='totalTax' formControlName="totalTax"  class="form-control-plaintext" placeholder="00">
    </div>
 </div>


 <div class="form-group row">
    <label class="col-md-2 col-3 col-form-label offset-7 offset-md-7 text-right">Total</label>
    <div class="col-md-2 col-2">
     <input readonly name='total' formControlName="total"  class="form-control-plaintext" placeholder="00">
    </div>
 </div>





  <div class="col-md-12">


    <button type="submit" class="btn btn-primary">1Submit Button2</button>
    <button type="reset" [routerLink]="['/invoices']" class="btn btn-secondary">cancel</button>
    <button  (click)="openModal()" class="btn btn-primary">modal</button>
   <div class="row" >{{invoiceForm.value | json}}</div>
  </div>
</form>
