<div [@routerTransition]>
    <app-page-header [heading]="'Users'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col col-xl-12">
          <div class="card mb-3">

              <div class="card-body">
                <ngx-datatable
                  class="bootstrap"
                  [rows]="rows"
                  [columns]="columns"
                  [columnMode]="'force'"
                  [headerHeight]="50"
                  [footerHeight]="50"
                  [rowHeight]="'auto'"
                  [limit]="10"
                  [loadingIndicator]="loading"
                  >
                </ngx-datatable>
                <ng-template #hdrTpl let-column="column" >
                 <strong>Avathar</strong>
                </ng-template>
                <ng-template #editTmpl let-row="row" let-value="value">
                 <img
                  src="{{value}}"
                 />
               </ng-template>
              </div>
          </div>


        </div>
    </div>
</div>
