<div class="row">
    <div class="col col-xl-12">
      <div class="card mb-3">
          <div class="card-body">
            <div class="row">
           <fieldset class="form-group col-md-4">
           <input
            class="form-control"
             type='text'
             id="name"
             placeholder='Filter by Category Name'
             (keyup)='updateFilter($event)'
           />
          </fieldset>
           </div>
            <ngx-datatable
              #categorytable
              class="bootstrap"
              [rows]="rows"
              [columns]="columns"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [limit]="5"
              [loadingIndicator]="loading"
              >
            </ngx-datatable>
            <ng-template #hdrTpl let-column="column" >
             <strong>Action</strong>
            </ng-template>
            <ng-template #editTmpl let-row="row" let-value="value">
             <a [routerLink]="['./edit', value]" class="btn btn-success"><i class="fa fa-edit"></i></a>
             <app-modal (onSuccess)="onDelete(value)" [title]="Confirm" [bodyContent]="'Confirm your Category delete action.'"></app-modal>
           </ng-template>
          </div>
      </div>
    </div>
</div>
