<form [formGroup]="accountsForm" (ngSubmit)="onEdit()">
  <div class="row">
    <fieldset class="form-group col-md-6">
      <label>Accounts Name</label>
      <input [class.is-invalid]="accountsForm.controls.name.touched && !accountsForm.controls.name.valid" required name="name" formControlName="name" class="form-control validate ">
      <div class="invalid-feedback">
        accounts Name is required.
      </div>
    </fieldset>
    <fieldset class="form-group col-md-6">
      <label>code</label>
        <input name="code" formControlName="code" class="form-control validate">
      </fieldset>
  </div>
  <div class="row">
    <fieldset class="form-group col-md-6">
      <label>Rate</label>
        <input name="rate" formControlName="rate" class="form-control validate">
      </fieldset>
    <fieldset class="form-group col-md-6">
      <label>Type</label>
      <select class="form-control" formControlName="type">
          <option value="percentage" [selected]="true" >Percentage</option>
          <option value="fixed">Fixed</option>
      </select>
    </fieldset>
  </div>
  <div class="col-md-12">
      <button type="submit" class="btn btn-secondary" [disabled]="!(accountsForm.valid)">Submit Button</button>
      <button type="reset" class="btn btn-secondary">Reset Button</button>
      <!-- <div class="row" >{{accountsForm.value | json}}</div> -->
  </div>
</form>
