<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">
    <div class="card">
        <div class="card-footer">
        <span *ngIf="currentShop.sid.name"><b>  {{currentShop.sid.name}} </b></span>
        </div>
      </div>

      <a [routerLink]="['/dashboard']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}
        </a>
        <a [routerLink]="['/contacts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
              <i class="fa fa-fw fa-user"></i>&nbsp;{{ 'Contacts' | translate }}
          </a>
    <!--    <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;{{ 'Charts' | translate }}
        </a>
        <a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;{{ 'Tables' | translate }}
        </a>
        <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'Forms' | translate }}
        </a>
        <a [routerLink]="['/bs-element']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;{{ 'Bootstrap Element' | translate }}
        </a>
        <a [routerLink]="['/grid']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-wrench"></i>&nbsp;{{ 'Bootstrap Grid' | translate }}
        </a>
        <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-th-list"></i>&nbsp;{{ 'Component' | translate }}
        </a>

      -->
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('products')">
                <span><i class="fa fa-barcode"></i>&nbsp; {{ 'Items' | translate }}</span>
                <span class="chevron"><i class="fa fa-angle-down"></i></span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'products'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/items']" [routerLinkActive]="['router-link-active']" >
                          <span><i class="fa fa-barcode"></i>&nbsp;&nbsp;{{ 'List Items' | translate }}</span>

                        </a>
                    </li>

                    <li>
                        <a [routerLink]="['/items/add']" [routerLinkActive]="['router-link-active']" >
                          <span><i class="fa fa-plus-square"></i>&nbsp;&nbsp;{{ 'Add Items' | translate }}</span>

                        </a>
                    </li>
                  <!--  <li>
                        <a href="javascript:void(0)" [routerLink]="['/blank-page']" [routerLinkActive]="['router-link-active']"><span>{{ 'Products Order' | translate }}</span></a>
                    </li> -->
                  <!--  <li>
                        <a href="javascript:void(0)" [routerLink]="['/blank-page']" [routerLinkActive]="['router-link-active']"><span>{{ 'Inventory' | translate }}</span></a>
                    </li> -->
                    <li>
                        <a [routerLink]="['/category']" [routerLinkActive]="['router-link-active']">
                          <span><i class="fa fa-cubes"></i>&nbsp;&nbsp;{{ 'Category' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>

        <a [routerLink]="['/salesorders']" [routerLinkActive]="['router-link-active']" class="list-group-item">
              <i class="fa fa-fw fa-user"></i>&nbsp;{{ 'Sales Orders' | translate }}
          </a>

          <a [routerLink]="['/purchaseorders']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-user"></i>&nbsp;{{ 'Purchase Orders' | translate }}
            </a>

        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <span><i class="fa fa-fax"></i>&nbsp; {{ 'Sales' | translate }}</span>
                  <span class="chevron"><i class="fa fa-angle-down"></i></span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>

                        <a [routerLink]="['/invoices']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-file-o"></i>&nbsp;{{ 'List Invoices' | translate }}
                        </a>
                    </li>
                    <li>

                        <a [routerLink]="['/invoices/add']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-file-o"></i>&nbsp;{{ 'Add Invoices' | translate }}
                        </a>
                    </li>
                <!--    <li>
                        <a href="javascript:void(0)"><span>{{ 'Create Sale' | translate }}</span></a>
                    </li> -->
                </ul>
            </li>
        </div>


        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('settings')">
                <span><i class="fa fa-fw fa-gear"></i>&nbsp; {{ 'Settings' | translate }}</span>
                  <span class="chevron"><i class="fa fa-angle-down"></i></span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'settings'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/tax']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-industry"></i>&nbsp;{{ 'Tax Rate' | translate }}
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/organisation']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-industry"></i>&nbsp;{{ 'Manage Organisation' | translate }}
                        </a>
                    </li>
                </ul>
            </li>
        </div>
    <!--    <a [routerLink]="['/users']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-file-o"></i>&nbsp;{{ 'Users' | translate }}
        </a> -->

      <!--  <a [routerLink]="['/blank-page']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-file-o"></i>&nbsp;{{ 'Blank Page' | translate }}
        </a> -->
      <!--  <a class="list-group-item more-themes" href="http://www.strapui.com/" >
            {{ 'More Theme' | translate }}
        </a> -->
        <div class="header-fields">
            <a (click)="rltAndLtr()" class="list-group-item">
                <span><i class="fa fa-arrows-h"></i>&nbsp; RTL/LTR</span>
            </a>
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('languages')">
                    <span><i class="fa fa-language"></i>&nbsp; {{ 'Language' | translate }} <b class="caret"></b></span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'languages'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('en')">
                                {{ 'English' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('fr')">
                                {{ 'French' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('ur')">
                                {{ 'Urdu' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('es')">
                                {{ 'Spanish' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('it')">
                                {{ 'Italian' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('fa')">
                                {{ 'Farsi' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('de')">
                                {{ 'German' | translate }}
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span><i class="fa fa-user"></i>&nbsp; John Smith</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-envelope"></i> {{ 'Inbox' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-gear"></i> {{ 'Settings' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/login']" (click)="onLoggedout()">
                                <span><i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
</nav>
